node_modules
public/node_modules
**/keymarket.json
**/keymongolab.json
.tmp
.idea
Capture
bower_components
build
id_rsa
id_rsa.pub
public/vendor/
front-end/node_modules
front-end/app/vendor/

client/node_modules
client/.pnp
client.pnp.js

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
.DS_Store
