node_modules
public/node_modules
**/keymarket.json
**/keymongolab.json
.tmp
.idea
Capture
bower_components
build
id_rsa
id_rsa.pub
public/vendor/
front-end/node_modules
front-end/app/vendor/
.DS_Store
