extends layout

block content
  p Welcome to #{title}
  p Why don't work?

  form#userFataForm(method="post", action="/api/setNewGroup")
    input(id="appId", type="number", placeholder="your app Id", name="appId")
    input(id="secretTocken", type="number", placeholder="your secret token", name="secretTocken")
    input(type="submit", value="WTF", id="submit")
  
    p
      input(id="load", value="load data", type="button")
    p
      input(id="userName", type="text", placeholder="user", name="userName")
      input(id="userPassword", type="password", placeholder="password", name="userPassword")
      input(id="loadDB", value="load data from DB", type="button")
      

   script(src="/javascripts/index.js")