extends layout

block content
  p Welcome to #{title}
  p Why don't work?

  form#userFataForm(method="post", action="/api/setNewGroup")
    p
      input(id="userName", type="text", placeholder="database user", name="userName")
      input(id="userPassword", type="password", placeholder="database password", name="userPassword")
    p
      input(id="loadDB", value="load data from DB", type="button")
      

   script(src="/javascripts/index.js")