extends layout

block content
  p Welcome to #{title}
  p Why don't work?

  form#userFataForm(method="post", action="/api/setNewGroup")
   input(id="appId", type="number", placeholder="your app Id", name="appId")
   input(id="secretTocken", type="number", placeholder="your secret token", name="secretTocken")
   input(type="submit", value="WTF", id="submit")

    div
      input(id="load", value="load data", type="button")

   script(src="/javascripts/index.js")