extends layout

block content
  p Welcome to #{title}
  p Why don't work?

  form#userFataForm(method="post", action="/api/setNewGroup")
    h4 Load data
    p
      input(id="userName", type="text", placeholder="database user", name="userName")
      input(id="userPassword", type="password", placeholder="database password", name="userPassword")
    p
      input(id="loadDB", value="load data from DB", type="button")

    h4 Set data
    p
      input(id="userNameSet", type="text", placeholder="database user", name="userNameSet")
      input(id="userPasswordSet", type="password", placeholder="database password", name="userPasswordSet")
    p
      input(id="inputItemId", type="text", placeholder="item id", name="inputItemId")
      input(id="inputItemGroup", type="text", placeholder="item group", name="inputItemGroup")
    p 
      input(id="itemPriceBuy", type="text", placeholder="price for buy", name="itemPriceBuy")
      input(id="itemPriceSeel", type="text", placeholder="price for sael", name="itemPriceSeel")
      input(id="itemCount", type="text", placeholder="max count items in inventory", name="itemCount")
    p
      input(id="setdDB", value="Set data to DB", type="button")

    h4 Delete data
    p
      input(id="userNameDelete", type="text", placeholder="database user", name="userNameDelete")
      input(id="userPasswordDelete", type="password", placeholder="database password", name="userPasswordDelete")
    p
      input(id="inputDataDelete", type="text", placeholder="name or index for db", name="inputData")
    p
      input(id="DeletedDB", value="Delete data to DB", type="button")

    h4 Run or Stop app life cycle
    p
      input(id="userNameRun", type="text", placeholder="database user", name="userNameRun")
      input(id="userPasswordRun", type="text", placeholder="database password", name="userPasswordRun")
      input(id="userMethod", type="text", placeholder="database method", name="userMethod")
    P
      input(id="runApp", value="APP should", type="button")

    h4 Create functionality for create request
    p
      input(id="userNameCreateTask", type="text", placeholder="database user" name="userNameCreateTask")
      input(id="userPasswordCreateTask", type="text", placeholder="database password" name="userPasswordCreateTask")
    p
      input(id="itemIdCreateTask", type="text", placeholder="item id" name="itemIdCreateTask")
      input(id="itemGroupCreateTask", type="text", placeholder="item group" name="itemGroupCreateTask")
      input(id="applicationKey", type="text", placeholder="aplication key" name="applicationKey")
    p
      input(id="createTask", type="button",value="Create Task", name="createTask")
      



  script(src="/javascripts/index.js")