body {
  padding: 50px;
  font-family: -apple-system,
  BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ububtu, 
  Cantarell, Fira, Sans,
  Droid Sans, Helvetica Neue,
  sans-serif;
}

a {
  color: #00B7FF;
}

input {
  padding: 5px
}

input[type="button"] {
  background: #ddd;
  font-weight: bold;
  cursor: pointer;
}